<%= form_tag path, :method => :get, :class => "navbar-form navbar-right" do %>
  <div class="form-group">
    <%= text_field_tag :query, params[:query], :placeholder => "Search", :class => "form-control" %>
    <%= hidden_field_tag :list_view, params[:list_view] if params[:list_view] %>
  </div>
  <%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
<% end %>
<br/>
